@font-face {
  font-family: "Satoshi Regular";
  src: url("/satoshi-regular.woff2") format("woff2");
  weight: 400;
}

@font-face {
  font-family: "PolySans Slim";
  src: url("/polysans-slim.woff2") format("woff2");
  weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi Regular", system-ui, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "PolySans Slim", system-ui, sans-serif;
  font-weight: 400;
  font-size: 7rem;
  margin-bottom: 1rem;
  animation: fade-in-up 0.8s;
}

p {
  font-size: 2rem;
  animation: fade-in-up 1s;
}

a {
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

a:hover {
  color: #444;
}

.hello {
  animation: wave 2s;
  transform-origin: 60% 80%;
}

.links {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 5rem;
    text-align: center;
    line-height: 5rem;
    margin: 2rem 0;
  }
  p {
    font-size: 1.5rem;
    text-align: center;
    max-width: 16rem;
  }
}

@keyframes fade-in-up {
  0% {
    transform: translateY(20px);
    filter: blur(5px);
  }
  100% {
    transform: translateY(0);
    filter: blur(0);
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
